@import "bootstrap/scss/bootstrap.scss";


.select { 
  width: 10%;
  margin-right: 10px;
}

.info { 
  background: #FFD580
}

.pro-card { 
  height: 60%;
  width: 60%;
  margin: 60px;
}

.bg-primary-subtle { 
  margin-bottom: 0 !important;
}

.ssl {
  height: 5em;
  width: 5em;
}

.border { 
  color: #4D5C74;
}
.submit { 
  margin-top: 20px !important;
}
.main { 
  height: 30vh !important; 
}
.search {
  width: 30em;
}

.p-5 { 
  padding: 12px !important;
}
